 body {
    Background-color:bisque;
}

h1 {
    font-size: 100px;
    color:brown ;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    font-size: 50px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
table {
    background-color:deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
tr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
#t1 {
    background-color:gold;
    text-align: center;
}
#p1 {
    font-size: 30px;
    color:black;
    text-align:center;
}
#p2 {
    font-size: 20px;
    color:gold;
    text-align:center;
}
#p3 {
    font-size: 20px;
    color:deepskyblue;
    text-align:center;
}
#h1 {
    Font-size: 100px;
    color:brown;
    text-align: center;
}
#h2 {
    font-size: 50px;
    color:darkslategray;
    text-align: center;
}
#z1 {
    font-size: 20px;
    color:black;
    text-align: center;
}

