  body {
    Background-color:bisque;
}

h1 {
    font-size: 100px;
    color:brown ;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    font-size: 50px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
table {
    background-color:deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
tr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
#t1 {
    background-color:gold;
    
}

#t2 {
    background-color:deepskyblue;
    text-align: center;
}

#p1 {
    font-size: 30px;
    color:indigo;
    text-align:center;
    background-color: olivedrab;
}

#p2 {
    font-size: 20px;
    color:gold;
    text-align:center;
    background-color:rgb(252, 204, 147);
    
}

#p3 {
    font-size: 20px;
    color:deepskyblue;
    text-align:center;
    background-color:rgb(252, 204, 147);
}

#h1 {
    Font-size: 100px;
    color:brown;
    text-align: center;
}

#h2 {
    font-size: 50px;
    color:darkslategray;
    text-align: center;
}

#z1 {
    font-size: 20px;
    color:black;
    text-align: center;
}

#a1 {
    font-size: 30px;
    color:brown;
    text-align: left;
}

#a2 {
    font-size: 30px;
    color:brown;
    text-align: right;
}

footer {
    background-color:black;
    font-family: 'Times New Roman';
    
    
}

#f1 {
    font-size:20px ;
    font-family: tahoma;
    color:aliceblue;
    text-align:center;

}

#f2 {
    font-size: 12px;
    font-family: tahoma;
    color:aliceblue;
    text-align: center;
}
